<div class="flex-1 break-all">
  <span class="text-lg font-bold ml-8 mt-4">Donate with UAH directly</span>
</div>
<div class="flex-1 break-all">
  <a
    class="ml-8 text-xs"
    href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi"
    >(Information Resource)</a
  >
</div>
<div class="overflow-x-auto mt-1">
  <table class="table w-full table-zebra">
    <thead>
      <tr>
        <th>Flag</th>
        <th>Currency</th>
        <th>Bank</th>
        <th>MFO</th>
        <th>Account No.</th>
        <th>EDRPOU Code</th>
        <th>Payee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="fi fi-ua"></span>
        </td>
        <td>UAH</td>
        <td>National Bank of Ukraine</td>
        <td>300001</td>
        <td>UA843000010000000047330992708</td>
        <td>00032106</td>
        <td>National Bank of Ukraine</td>
      </tr>
    </tbody>
  </table>
</div>
