<div class="flex-1 break-all">
  <span class="text-lg font-bold ml-8 mt-4"
    >Donate with Other Legal Currencies</span
  >
</div>
<div class="flex-1 break-all">
  <a
    class="ml-8 text-xs"
    href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi"
    >(Information Resource)</a
  >
</div>
<div class="overflow-x-auto mt-1">
  <table class="table w-full table-zebra">
    <thead>
      <tr>
        <th *ngFor="let legalCurrencyLabel of legalCurrencyLabels">
          {{ legalCurrencyLabel }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let legalCurrency of legalCurrencies">
        <td>
          <span class="{{ legalCurrency.flagIconClass }}"></span>
        </td>
        <td>{{ legalCurrency.currencyName }}</td>
        <td>{{ legalCurrency.accountNumber }}</td>
        <td>{{ legalCurrency.iban }}</td>
        <td>{{ legalCurrency.sortCode }}</td>
        <td>{{ legalCurrency.beneficiaryBankName }}</td>
        <td>{{ legalCurrency.beneficiaryBankBic }}</td>
        <td>{{ legalCurrency.beneficiaryBankAddress }}</td>
        <td>{{ legalCurrency.purposeOfPayment }}</td>
        <td>{{ legalCurrency.beneficiary }}</td>
        <td>{{ legalCurrency.beneficiaryBic }}</td>
        <td>{{ legalCurrency.beneficiaryAddress }}</td>
      </tr>
    </tbody>
  </table>
</div>
