<app-view-hero></app-view-hero>
<div class="flex-1">
  <span class="text-lg font-bold">Donate with UAH directly</span>
</div>
<div class="overflow-x-auto">
  <table class="table w-full table-zebra">
    <thead>
      <tr>
        <th>Flag</th>
        <th>Currency</th>
        <th>Bank</th>
        <th>MFO</th>
        <th>Account No.</th>
        <th>EDRPOU Code</th>
        <th>Payee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="fi fi-ua"></span>
        </td>
        <td>UAH</td>
        <td>National Bank of Ukraine</td>
        <td>300001</td>
        <td>UA843000010000000047330992708</td>
        <td>00032106</td>
        <td>National Bank of Ukraine</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="flex-1">
  <a
    href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi"
  ></a>
</div>
<div class="flex-1">
  <span class="text-lg font-bold">Donate with Other Legal Currencies</span>
</div>
<div class="overflow-x-auto">
  <table class="table w-full table-zebra">
    <thead>
      <tr>
        <th *ngFor="let legalCurrencyLabel of legalCurrencyLabels">
          {{ legalCurrencyLabel }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let legalCurrency of legalCurrencies">
        <td>
          <span class="{{ legalCurrency.flagIconClass }}"></span>
        </td>
        <td>{{ legalCurrency.currencyName }}</td>
        <td>{{ legalCurrency.accountNumber }}</td>
        <td>{{ legalCurrency.iban }}</td>
        <td>{{ legalCurrency.sortCode }}</td>
        <td>{{ legalCurrency.beneficiaryBankName }}</td>
        <td>{{ legalCurrency.beneficiaryBankBic }}</td>
        <td>{{ legalCurrency.beneficiaryBankAddress }}</td>
        <td>{{ legalCurrency.purposeOfPayment }}</td>
        <td>{{ legalCurrency.beneficiary }}</td>
        <td>{{ legalCurrency.beneficiaryBic }}</td>
        <td>{{ legalCurrency.beneficiaryAddress }}</td>
      </tr>
    </tbody>
  </table>
</div>
